h1{
    color: red;
    font-size: 50px;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    gap: 30px;
    justify-content: center;
}

li{
    padding: 20px;
    box-shadow: 2px 2px 5px grey;
}